.button {
  border: 1px solid #2fa4e7;
  /* color: #2fa4e7; */
  /* background-color: #ffffff; */
  background-color: #2fa4e7;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  height: 25px;
  margin-left: 12px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}
/* .prime :hover {
  color: #ffffff;
  background-image: linear-gradient(#54b4eb, #2fa4e7 70%, #1d9ce5);
} */

.button-error {
  color: #fff;
  border: 1px solid #c71c22;
  border-radius: 5px;
  font-weight: bold;
  height: 25px;
  margin-left: 12px;
  background-color: #c71c22;
  cursor: pointer;
}
/* .error :hover {
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  color: tomato;
} */

.button-success {
  color: #fff;
  border: 1px solid #73a839;
  border-radius: 5px;
  font-weight: bold;
  height: 25px;
  margin-left: 12px;
  background-color: #73a839;
  cursor: pointer;
}
/* .button-success :hover {
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
  color: tomato;
} */

/* .button.disabled {
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
} */
