.finished-quiz {
  padding: 20px;
  color: #185578;
  border-radius: 10px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: #c5e6f8;
}

.finished-quiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.finished-quiz ul li i {
  margin-left: 10px;
}

.error {
  color: tomato;
}

.success {
  color: rgb(54, 185, 54);
}

.finished-quiz button {
  color: #fff;
  border: 1px solid #185578;
  background-image: linear-gradient(#54b4eb, #2fa4e7 70%, #1d9ce5);
  border-radius: 5px;
  font-weight: 700;
  height: 25px;
}
