.active-quiz {
  padding: 20px;
  color: #185578;
  border-radius: 10px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: #c5e6f8;
}

.question {
  display: flex;
  justify-content: space-between;
}
