.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
}

.QuizListWrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.QuizList ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.QuizList ul li {
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}

.QuizList ul li a {
  text-decoration: none;
  position: relative;
  color: #185578;
}

.QuizList ul li:hover {
  font-weight: 700;
}

.QuizList h1 {
  color: #54b4eb;
  text-align: center;
}

.QuizList span {
  display: flex;
  margin: 16px 0px;
  font-weight: bold;
}

.QuizListInside {
  padding: 20px;
  color: #185578;
  border-radius: 10px;
  margin: 0 10px;

  box-sizing: border-box;
  background-color: #c5e6f8;
}
/*  */
