.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: rosybrown;
}

.AuthWrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth h1 {
  color: royalblue;
  text-align: center;
}

.AuthForm {
  background: salmon;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}
